html {
	font-family: "PT Serif";
}

.header{
	height: 100vh;
	background-position: top;
	text-align: center;
	background-image: url("../assets/png/ecologiesgroup.png");
	background-repeat: no-repeat;
	padding: -100px;

}

.nav{
	display: flex;
	justify-content: center;
	padding-top: 80vh;
	font-family: "Open Sans";
	color: blue;
	font-size: 30px;
	overflow: hidden;
	/*transition: 0.4s;
	position: fixed;
	z-index: 99;*/
}

.nav li{
	display: inline-block;
	padding-right: 15px;
}

a:link{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}

a:visited{
	color: black;
}

a:active{
	text-decoration: ;
}

h2{
	
	font-size: 2.5rem;
}

p {
	font-size: 1rem;
}

.grid{
	width: 100vw;
	grid-template-columns: 20fr 80fr;
	grid-template-rows: auto auto auto auto;
	display: grid;

	grid-row-gap: 10px;
}

.left {
	display: flex;
	align-items: top;
	justify-content: center;
	padding: 20px 10px;

	margin: 5px 0;

	border-right: 1px solid black;

	background-color: yellow;
}

.right {
	display: flex;
	align-items: top;
	justify-content: center;
	padding: 20px 30px;	

	margin: 5px 0;
}

.one{
	grid-column: 1/2;
	grid-row: 1/2;
	text-align: center;
}

.two{
	grid-column: 2/3;
	grid-row: 1/2;
}

.three{
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: center;
}

.four{ 
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;

	display: grid;
	grid-template-columns: auto;
}

.member {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.member .imageSection img {
	border-radius: 50%;
	height: 150px;
	width: 150px
}

.member .infoSection {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;

	padding-left: 50px;


}

.member .name {
	font-size: 1.5rem;
	color: blue;
}

.member .name, .position, .school, .links {
	margin-top: 5px;
}

.member .links a {
	color: purple;
}

.five{
	grid-column: 1/2;
	grid-row: 3/4;
	text-align: center;
}

.six{
	grid-column: 2/3;
	grid-row: 3/4;

}

.seven{
	grid-column: 1/2;
	grid-row: 4/5;
	text-align: center;
}

.eight{
	grid-column: 2/3;
	grid-row: 4/5;
	text-align: center;
	
}

a.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
	color: #fff;
	background-color:#000;
	left: auto;
	top: 0;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:5px;
	border-radius: 15px;
	border:4px solid yellow;
	text-align:center;
	font-size:1.2em;
	z-index:999;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
}

/*phone*/
@media screen and (max-width: 760px){
	.grid{
		display: block;
	}
	.header{
		background-position: top;
		text-align: center;
		background-image: url("../assets/png/mobile_ecologiesgroup.png");
	}

	.nav{
		font-size: 20px;
	}

	.one{
		width: 100vw;

	}

	.two{
		width: 100vw;

	}
	.three{
		width: 100vw;

	}

	.four{
		width: 100vw;
	}

	.five{
		width: 100vw;
	}

	.six{
		width: 100vw;
	}

	.seven{
		width: 100vw;
	}

	.eight{
		width: 100vw;
	}
}

/*ipad*/

@media screen and (min-width: 768px) and (max-width: 1245px){

}



/*full screen*/
@media screen and (min-width: 1245px){
	.four{ 
		grid-template-columns: 1fr 1fr;
	}
}

/*reduced motion*/

@media screen and (prefers-reduced-motion: reduce){

  }