html {
	font-family: "PT Serif";
}

.header{
	background-position: top;
	text-align: center; 
}

.nav{
	padding: 20px;
	display: flex;
	justify-content: center;
	font-family: "Open Sans";
	background-color: black;
	color: white;
	font-size: 1.4rem;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	/*transition: 0.4s;
	position: fixed;
	z-index: 99;*/
}

.nav li{
	display: inline-block;
	padding-right: 15px;
}

.nav a:link{
	text-decoration: none;
	color: white;
}

.nav a:visited{
	color: white;
}

.nav a:hover{
	text-decoration: none;
	color: yellow;
	border-bottom: 1px solid black;
}

.nav a:active{
	text-decoration: ;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	padding: 40px;
	padding-top: 60px; 
}

h2{
	padding-top: 30px;
	font-size: 2.2rem;
}

p {
	font-size: 1rem;
}

.grid{
	width: 100vw;
	grid-template-columns: 20fr 80fr;
	grid-template-rows: auto auto auto auto;
	display: grid;
	grid-row-gap: 10px;
}

.left {
	display: flex;
	align-items: start;
	justify-content: center;
	padding: 30px 10px 20px 10px;

	margin: 5px 0;

	color: darkblue;

	border-right: 2px solid darkblue;

	text-align: left;
}

.right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 20px 30px;	

	box-sizing: border-box;

	margin: 5px 0;
}

.one{
	grid-column: 1/2;
	grid-row: 1/2;
	text-align: center;
}

.two{
	grid-column: 2/3;
	grid-row: 1/2;
}

.three{
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: center;
}

.four{ 
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;

	display: grid;
	grid-template-columns: auto;
}

.member {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.member .imageSection img {
	border-radius: 50%;
	height: 150px;
	width: 150px
}

.member .infoSection {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	align-items: center;
}

.member .name {
	font-size: 1.5rem;
	color: blue;
}

.member .name, .position, .school, .links {
	margin-top: 5px;
}

.member .links a {
	color: purple;
}

.five{
	grid-column: 1/2;
	grid-row: 3/4;
	text-align: center;
}

.six{
	grid-column: 2/3;
	grid-row: 3/4;

	display: grid;
	grid-template-columns: auto;
}

.project {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.project .proj_image_section img {
	width: 150px
}

.project .proj_info_section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.project .proj_info_section .title {
	color: blue;
	font-size: 1.5rem;
}

.project .proj_info_section .tags {
	color: darkred;
	margin-top: 5px;
}

.project .proj_info_section .proj_description {
	margin-top: 5px;
}

.project .proj_info_section .proj_links {
	margin-top: 5px;
	color: purple;
}


.seven{
	grid-column: 1/2;
	grid-row: 4/5;
	text-align: center;
}

.eight{
	grid-column: 2/3;
	grid-row: 4/5;
	text-align: center;

	display: grid;
	grid-template-columns: auto;
	
}

.publication {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.publication .pub_image_section img {
	width: 150px
}

.publication .pub_info_section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.publication .pub_info_section .pub_title{
	font-size: 1.2rem;
}

.publication .pub_info_section .pub_authors{
	margin-top: 5px;
}

.publication .pub_info_section .pub_authors a{
	color: blue;
}

.publication .pub_info_section .pub_more_info{
	margin-top: 5px;
}

.publication .pub_info_section .pub_more_info .pub_pdf{
	color: purple;
}

.footer {
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 30px 20px;
}

/*portfolio modal*/
.portfolio-modal .modal-body {
    position: static;
}

/*modal box size*/
.portfolio-modal .modal-dialog {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/*content*/
.portfolio-modal .modal-content {
    color: #746f6f;
    padding: 0 0 2em 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.portfolio-modal .modal-content a {
    color: blue;
    min-height: 100%;
}



/*project title*/
.portfolio-modal .modal-content h3 {
    color: blue;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 3em;
}

/*bottom of the modal box including prev, next, back to work links*/
.portfolio-modal .bottom {
    padding: 0em 2em 1em 2em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*the X close icon*/
.portfolio-modal .modal-header .close {
    font-size: 4em;
    padding: 0 1em 0 0;
    font-weight: 200;
    color: red;
}

.portfolio-modal .modal-header {
    border-bottom: none;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
*/
a.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
	color: #fff;
	background-color:#000;
	left: auto;
	top: 0;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:5px;
	border-radius: 15px;
	border:4px solid yellow;
	text-align:center;
	font-size:1.2em;
	z-index:999;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
}

/*phone*/
@media screen and (max-width: 760px){
	.grid{
		display: block;
	}
	.header{
		background-position: top;
		text-align: center;
	}

	.one{
		width: 100vw;

	}

	.two{
		width: 100vw;

	}
	.three{
		width: 100vw;

	}

	.four{
		width: 100vw;
	}

	.five{
		width: 100vw;
	}

	.six{
		width: 100vw;
	}

	.seven{
		width: 100vw;
	}

	.eight{
		width: 100vw;
	}
}

/*ipad*/

@media screen and (min-width: 768px) and (max-width: 1245px){

	.member, .project, .publication {
		flex-direction: row;
	}

	.member .infoSection {
		padding-left: 50px;
		align-items: start;
	}

	.project .proj_info_section {
		padding-left: 50px;
		align-items: start;
	}

	.publication .pub_info_section {
		padding-left: 50px;
		align-items: start;		
	}

}



/*full screen*/
@media screen and (min-width: 1245px){
	.four, .six, .eight{ 
		grid-template-columns: 1fr 1fr;
	}

	.member, .project, .publication {
		flex-direction: row;
	}

	.member .infoSection {
		padding-left: 50px;
		align-items: start;
	}

	.project .proj_info_section {
		padding-left: 50px;
		align-items: start;
	}

	.publication .pub_info_section {
		padding-left: 50px;
		align-items: start;		
	}
}

/*reduced motion*/

@media screen and (prefers-reduced-motion: reduce){

  }